 #div1{
        background: purple;
        color:white;
        text-align: center;
      }

      #estilo{
        background: red;
        color: yellow;
        text-align: end;
      }

      #estilo2{

      }

      #cortexto{

      }